* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.bg {
  background-image: url("../img/bg.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subtitle {
  color: rgb(218, 218, 218);
  font-size: 3em;
}

.main h1 {
  font-weight: 500;
  color: white;
}

#get-started {
  padding: 0.7em 1.5em;
  font-size: 1.3em;
}

.big-p {
    font-size: 2em;
}

.nav-link {
    font-size: 1.3em;
}

.nav-item {
    padding-left: 1.5em;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}