<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Archiscape</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link
      rel="stylesheet"
      href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
    <script src="js/three.min.js"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/OrbitControls.js"></script>
  </head>

  <body ng-app="modelingApp">
    <div ng-controller="MainCtrl">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" id="custom-brand" ng-click="reload()"
          >3D Modeling</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-2">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"
                >Return Home <span class="sr-only">(current)</span></a
              >
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid bg main-card-container">
        <div class="card bg-light main-card shadow-lg">
          <div class="card-header" id="modeling-header">
            <h1 class="mt-2"><b>3D Modeling</b></h1>
          </div>
          <div class=" container-fluid card-body">
            <div class="row" id="instructionsRow">
              <div class="col">
                <p class="lead">
                  Upload a 2D floor plan to get a 3D building model.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6" id="form">
                <button
                  id="fileInputButton"
                  class="btn btn-outline-primary"
                  ng-click="convertImageToData()"
                >
                  Select File
                </button>
                <input
                  id="fileInput"
                  name="file"
                  type="file"
                  style="display:none;"
                  file
                  multiple
                />

                <button
                  class="btn btn-primary"
                  ng-click="showConfirm() "
                  ng-if="fileName.length > 0"
                  id="renderButton"
                >
                  Render 3D Model
                </button>

                <div class="row">
                  <div class="col-md-6 col-9">
                    <img
                      id="floorplan"
                      src="#"
                      class="img-fluid mt-3"
                      style="display:none"
                    />
                  </div>
                </div>
              </div>

              <div class="container-fluid align-content-center">
                <div class="md-toolbar-tools" ng-if="ready">
                  <!-- <h2>
                      <span class="modeling-nav" ng-click="reload()"
                        >3D Modeling</span
                      >
                    </h2> -->
                  <div class="row toolbar justify-content-center mt-4">
                    <div class="col">
                      <button class="btn" ng-click="xMinus()">
                        X-
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="xPlus()">
                        X+
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn " ng-click="yPlus()">
                        Y+
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn " ng-click="yMinus()">
                        Y-
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="threeDPlus()">
                        Rotate+
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="threeDMinus()">
                        Rotate-
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="rotate()">
                        2DRotate
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="depthPlus()">
                        View+
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="depthMinus()">
                        View-
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="scalePlus()">
                        Scale+
                      </button>
                    </div>
                    <div class="col">
                      <button class="btn" ng-click="scaleMinus()">
                        Scale-
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-8 text-center" id="canvas-container">
                    <canvas
                      id="mycanvas"
                      style="max-width:70vw;
                    max-height: 40vh;"
                    ></canvas>
                  </div>
                </div>

                <div class="row justify-content-center">
                  <div class="col-md-7 col">
                    <div class="form-group">
                      <input ng-if="ready" id="name" type="text"
                      class="form-control" placeholder="Model Name" style="font-family: Neucha"
                      />
                    </div>
                  </div>
                  <div class="col-md-3 col">
                    <button
                      ng-if="ready"
                      type="button"
                      ng-click="save()"
                      class="btn btn-primary"
                      id="save-model-button"
                    >
                      Save Model
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div ng-if="!ready">
              <canvas id="canvas" width="0" height="0" style="display:none">
                Your browser does not support the HTML5 canvas tag.
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
